---
import { getCollection, render } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import HeaderImage from '../../components/HeaderImage.astro';
import LoremPicsumHeaderImage from '../../components/LoremPicsumHeaderImage.astro';
import ArticleMeta from '../../components/ArticleMeta.astro';

export async function getStaticPaths() {
  const posts = await getCollection('TIL');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout frontmatter={post.data}>
  {
    post.data.image ? (
      <HeaderImage image={post.data.image} />
    ) : (
      <LoremPicsumHeaderImage seed={post.id} />
    )
  }
  <article class="prose mx-auto">
    <h1>{post.data.title}</h1>
    <ArticleMeta 
      pubDate={post.data.pubDate}
      updatedDate={post.data.updatedDate}
      tags={post.data.tags}
      keywords={post.data.keywords}
    />
    <Content />
  </article>
</Layout>
