---
export const prerender = true;

import { getCollection } from 'astro:content';
import Article from '../components/Article.astro';
import Search from '../components/Search.astro';
import Layout from '../layouts/Layout.astro';

const allTIL = await getCollection('TIL');
const allArticles = await getCollection('articles');
const allSnippets = await getCollection('snippets');
const allPosts = [...allTIL, ...allArticles, ...allSnippets].sort(
  (a, b) =>
    (b.data.updatedDate || b.data.pubDate).getTime() -
    (a.data.updatedDate || a.data.pubDate).getTime(),
);

const pageTitle = 'Minimalist Django';
const description =
  'A collection of articles, tutorials, and code snippets focused on Django and web development. Learn through practical examples and minimalist approaches.';
const keywords = [
  'Django',
  'Web Development',
  'Python',
  'Programming',
  'Tutorials',
  'Code Snippets',
];
const image = {
  url: '/media/default-og-image.png',
  alt: 'Django rocket for newly created projects with `django-admin startproject`',
};
---

<Layout
  pageTitle={pageTitle}
  description={description}
  keywords={keywords}
  image={image}
  type="website"
>
  <header class="container mx-auto mt-4 mb-8 flex flex-col items-center px-2">
    <div
      style="height: 150px; width: 150px; border-radius: 100%; overflow: hidden"
    >
      <img width="150" src="/media/django-rocket.svg" alt="django rocket" />
    </div>
    <h1 class="my-5 font-serif text-4xl font-semibold">Minimalist Django</h1>
    <cite class="text-center font-serif">
      Perfection is achieved, not when there is nothing more to add, <br /> but when
      there is nothing left to take away.
    </cite>
  </header>
  <section class="article-list">
    <Search />
    <h2
      class="mt-4 font-serif text-center text-sm text-[var(--color-text)] italic"
      id="latest-heading"
    >
      Latest updates and posts
    </h2>
    <div id="initial-posts">
      {allPosts.map((post: any) => <Article {post} />)}
    </div>
  </section>
</Layout>
