---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import SEO from '../components/SEO.astro';

interface Props {
  pageTitle: string;
  description: string;
  keywords?: string[];
  image?: {
    url: string;
    alt: string;
  };
  type?: 'website' | 'article';
  pubDate?: Date;
  updatedDate?: Date;
  tags?: string[];
}

const {
  pageTitle,
  description,
  keywords,
  image,
  type = 'website',
  pubDate,
  updatedDate,
  tags,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/media/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={pageTitle}
      description={description}
      keywords={keywords}
      image={image}
      type={type}
      pubDate={pubDate}
      updatedDate={updatedDate}
      tags={tags}
    />
  </head>
  <body class="flex min-h-screen flex-col">
    <Navigation />
    <main class="flex-grow">
      <!-- slooooooooooooooooooooooooooooooooooooooooooooooot -->
      <slot />
      <!-- slooooooooooooooooooooooooooooooooooooooooooooooot -->
    </main>
    <Footer />
  </body>
</html>
